@import url("https://fonts.googleapis.com/css?family=Muli:300,900");

body {
  font-size: 1.3rem;
  line-height: 1.65;
  font-family: "Multi", sans-serif;
  color: #1e1e24;
  background-color: #fff8f0;
  margin: 2em;
}

h1 {
  font-size: 4rem;
  color: #92140c;
  font-weight: 900;
}

p {
  margin-top: 0;
}

.columns {
  /*column-count: 3;
  column-width: 250px;*/
  columns: 3 250px;
  column-rule: 1px solid #92140c;
  column-gap: 3em;
}

.intro {
  column-span: all;
}
